.title{
  text-align: center;
  bottom: 0;
  letter-spacing: 1.5px;
  text-decoration-line: underline;
  font-size: 25px;
  color: #a51122;
}

.subtitle{
  font-size: .3rem;
  letter-spacing: 1.3px;
  font-weight: 600;
}